@import url('variables.css');


/*contenedor del formulario del registro*/
.container-form{
    margin-top:20px;
    width: 100%;
    display: flex;
    justify-content: center;
	border-radius: 1rem;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}


/*Estilos generales del formulario y subformulario*/
.register__form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

/*estilos generales del formulario*/
.register__form{
    width: 70%; /*!!!*/
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
}

.register__form::-webkit-scrollbar {
	display: none;
}

/*inputs y labels*/
.register__form div{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap:.5rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.register__form div label{
    flex: 1;
}
/*-- inputs --*/
input, select, textarea{
    flex: 2;
    border-radius: .3rem;
    padding: .5rem;
    border: none;
    outline: none;
    background: var(--grey);
}
textarea{
    resize: none;
}
option{
    padding: .5rem;
}
input:focus{
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
/*-- formulario del telefono --*/
.form__phone{
    width: 50%;
}

.add__info{
    align-self: center;
}
.add__info i{
    font-size: 20px;
}
/*--- botones--*/
.register__form--submit,
.add__info{
    width: 10rem;
    padding: 1rem;
    margin-top: 1rem;
    background: var(--blue);
    color: var(--light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add__info{
    padding: .5rem;
}
.register__form--submit:hover,
.add__info:hover{
    background: var(--dark-blue);
}

@media (max-width: 550px){
    .container-form{
        width: 90vw;
    }
}
@media(max-width: 400px){
    .register__form{
        align-items: center;
    }
    .register__form div{
        flex-direction: column;
    }
}